.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 1rem 5rem;
}

.nav_child {
    display: flex;
    justify-content: space-between;
    min-width: 30rem;
}

.nav_child a {
    text-decoration: none;
    color: inherit;
}